@import '../../../app.scss';
$link-hover-color: rgba(0, 0, 0, .6);
$link-color-transition: all .3s;

.aside {
  padding-top: 40px;
  margin-right: 60px;
  &__title {
    color: $accent-color;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 30px;
    border-bottom: 2px solid #333;
    padding-bottom: 10px;
    text-align: center;

    &-img {
      display: none;
    }
  }
  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    &-item {
      border-bottom: 1px solid #333;
      width: 100%;
      text-align: center;
      display: flex;
      flex-direction: column;
    }
    &-link {
      padding: 15px 10px;
      display: block;
      margin-bottom: 5px;
      &:hover {
        color: $link-hover-color;
        transition: $link-color-transition;
      }
      &--cur {
        font-size: 30px;
        transition: all .3s;
      }
    }
  }
  &__sublist {
    transition: all .3s;
    padding-bottom: 10px;
    opacity: 0;
    display: none;


    &:hover {
      opacity: .8;
    }
    &--opened {
      transition: all .3s;
      display: block;
      opacity: 1;

      .aside__list-link--cur {
        transform: rotate(180deg);
      }
    }
    &-link {
      display: block;
      padding: 7px 0;
    }
  }
}

// @media (max-width: 720px) {
//   .aside {
//     margin-right: 15px;
//     width: 120px;

//     &__title {
//       font-size: 16px;
//       margin-bottom: 10px;
//     }
//     &__list-link {
//       font-size: 14px;
//     }
//   }
// }
@media (max-width: 720px) {
  .aside {
    &__list-item {
      display: flex;
      flex-direction: column;
    }
    &__list-link {
      font-weight: 500;
      font-size: 17px;
    }
    &__title {
      font-size: 20px;
      margin-bottom: 10px;
    }
    &__list {
      opacity: 0;
      height: 0;
      display: none;
    }
    &__list--opened {
      opacity: 1;
      height: 100%;
      display: block;
    }
    &__sublist-link {
      padding: 12px 0;
      font-size: 17px;
    }
    &__title {
      display: flex;
      justify-content: center;
      align-items: center;
      column-gap: 20px;
      cursor: pointer;

      &-img {
        display: block;
        width: 20px;
      }
    }
  }
}